/* Tainacan Gutenberg Blocks colors */
:root {
  --tainacan-block-primary: var(--paletteColor1, #3eaf7c);
  --tainacan-block-gray0: var(--backgroundColor, #f8f9fb);
  --tainacan-block-gray1: var(--backgroundColor, #f8f9fb);
  --tainacan-block-gray2: var(--formBorderInitialColor, #e0e5eb);
  --tainacan-block-gray3: var(--formBorderInitialColor, #e0e5eb);
  --tainacan-block-gray4: var(--color, rgba(44, 62, 80, 0.9));
  --tainacan-block-gray5: var(--headingColor, rgba(44, 62, 80, 1));
}

/* Remaining imports */
/* Tainacan Items list customization */
.theme-items-list {
  --tainacan-secondary: #b6181e;
  --tainacan-primary: #e0cacb;
  --boxShadow: 6px 6px black;
  --tainacan-item-background-color: white;
  --tainacan-item-hover-background-color: white;
  --tainacan-item-heading-hover-background-color: white;
  --tainacan-filter-menu-width-theme: 20vw;
  --tainacan-success: #333;
  /* Search control */
  /* Filters panel */
  /* Items list container */
  /* Advanced Search */
  /* Inputs style */
}

.theme-items-list:not(.is-fullscreen) {
  justify-content: center;
  background: transparent !important;
  padding: 0;
}

.theme-items-list .search-control {
  --tainacan-background-color: #080707;
  --tainacan-input-color: white;
  --tainacan-input-background-color: #111;
  --tainacan-input-border-color: #222;
  --tainacan-label-color: #eee;
  --tainacan-info-color: #ddd;
  --tainacan-heading-color: white;
  --tainacan-primary: #b6181e;
  background-repeat: repeat;
  background-color: var(--tainacan-background-color, #000);
  padding: 26px 20px 2px 20px !important;
  margin: 0px;
}

.theme-items-list .search-control .search-control-item {
  margin-bottom: 20px !important;
}

.theme-items-list .search-control .search-area input {
  background-color: var(--tainacan-secondary) !important;
  border: var(--tainacan-input-border-color) !important;
  color: var(--tainacan-input-color) !important;
}

.theme-items-list .search-control .search-area .control.has-icons-right .icon .mdi-magnify::before {
  color: white;
}

.theme-items-list .search-control .button {
  border-radius: 0px !important;
}

.theme-items-list #filters-modal {
  width: 100%;
  box-shadow: var(--boxShadow, 6px 6px black);
}

.theme-items-list #filters-modal .modal-content {
  padding: 0;
}

.theme-items-list #filters-modal .modal-content h3 {
  font-size: 1.25em;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .theme-items-list #filters-modal .modal-content {
    padding: 0px 0px 0px 6vw;
  }
}

.theme-items-list #filters-modal .modal-content #filters-items-list {
  background-color: var(--backgroundColor, #f2f2f2);
  border: 1px solid #cbcbcb;
  padding: 20px;
  margin: 0px;
}

.theme-items-list #filters-modal .modal-content #filters-items-list .filters-components-list {
  margin-bottom: 24px;
}

.theme-items-list #filters-modal .loading-background {
  background: transparent;
}

.theme-items-list #filters-modal.tainacan-filter-list-fixed {
  left: 14px;
}

.theme-items-list #items-list-area {
  padding: 6px 4px;
  width: 100%;
}

.theme-items-list #items-list-area .filter-tags-list {
  padding: 6px 12px 12px 12px;
  background-color: var(--backgroundColor, #f2f2f2);
  border: 1px solid #cbcbcb;
  margin: -7px;
  box-shadow: 0px 3px #000;
  width: calc(100% + 14px);
  position: relative;
  z-index: 99999;
}

.theme-items-list #items-list-area #items-list-results {
  /* Tainacan items list view modes */
  /* Pagination */
}

.theme-items-list #items-list-area #items-list-results .table-container {
  min-width: 100%;
  padding-top: 14px;
  padding-left: 10px;
  padding-bottom: 14px;
  padding-right: 10px;
}

.theme-items-list #items-list-area #items-list-results .tainacan-masonry-container .tainacan-masonry-item,
.theme-items-list #items-list-area #items-list-results .tainacan-records-container .tainacan-record,
.theme-items-list #items-list-area #items-list-results .tainacan-cards-container .tainacan-card,
.theme-items-list #items-list-area #items-list-results .tainacan-list-container .tainacan-list {
  border-radius: 0;
  border-width: 2px;
  border-style: solid;
  border-color: #211e17;
  box-shadow: var(--boxShadow, 6px 6px black);
  overflow: hidden;
  transition: box-shadow ease 0.3s, border-color ease 0.3s;
}

.theme-items-list #items-list-area #items-list-results .tainacan-masonry-container .tainacan-masonry-item:hover,
.theme-items-list #items-list-area #items-list-results .tainacan-records-container .tainacan-record:hover,
.theme-items-list #items-list-area #items-list-results .tainacan-cards-container .tainacan-card:hover,
.theme-items-list #items-list-area #items-list-results .tainacan-list-container .tainacan-list:hover {
  box-shadow: -5px 5px black;
  border-color: black;
}

.theme-items-list #items-list-area #items-list-results .tainacan-masonry-container .tainacan-masonry-item .metadata-title p,
.theme-items-list #items-list-area #items-list-results .tainacan-records-container .tainacan-record .metadata-title p,
.theme-items-list #items-list-area #items-list-results .tainacan-cards-container .tainacan-card .metadata-title p,
.theme-items-list #items-list-area #items-list-results .tainacan-list-container .tainacan-list .metadata-title p {
  font-weight: 500;
}

.theme-items-list #items-list-area #items-list-results .tainacan-masonry-container .tainacan-masonry-item .metadata-value,
.theme-items-list #items-list-area #items-list-results .tainacan-masonry-container .tainacan-masonry-item .metadata-label,
.theme-items-list #items-list-area #items-list-results .tainacan-records-container .tainacan-record .metadata-value,
.theme-items-list #items-list-area #items-list-results .tainacan-records-container .tainacan-record .metadata-label,
.theme-items-list #items-list-area #items-list-results .tainacan-cards-container .tainacan-card .metadata-value,
.theme-items-list #items-list-area #items-list-results .tainacan-cards-container .tainacan-card .metadata-label,
.theme-items-list #items-list-area #items-list-results .tainacan-list-container .tainacan-list .metadata-value,
.theme-items-list #items-list-area #items-list-results .tainacan-list-container .tainacan-list .metadata-label {
  font-size: 0.85em !important;
  font-family: 'montserrat','HelveticaNeue','Helvetica Neue','Helvetica-Neue',Helvetica,Arial,sans-serif !important;
}

.theme-items-list #items-list-area #items-list-results .tainacan-masonry-container .tainacan-masonry-item .metadata-value,
.theme-items-list #items-list-area #items-list-results .tainacan-records-container .tainacan-record .metadata-value,
.theme-items-list #items-list-area #items-list-results .tainacan-cards-container .tainacan-card .metadata-value,
.theme-items-list #items-list-area #items-list-results .tainacan-list-container .tainacan-list .metadata-value {
  margin-top: 0.125rem;
}

.theme-items-list #items-list-area #items-list-results .tainacan-records-container .tainacan-record,
.theme-items-list #items-list-area #items-list-results .tainacan-list-container .tainacan-list {
  background-color: var(--tainacan-item-background-color, white) !important;
}

.theme-items-list #items-list-area #items-list-results .tainacan-masonry-container .tainacan-masonry-item {
  display: flex !important;
  flex-direction: column-reverse;
}

.theme-items-list #items-list-area #items-list-results .tainacan-cards-container .tainacan-card {
  min-height: 215px;
  max-height: 215px;
}

.theme-items-list #items-list-area #items-list-results .tainacan-cards-container .tainacan-card .media .list-metadata {
  padding: 0.125em 1.375em !important;
}

.theme-items-list #items-list-area #items-list-results .tainacan-cards-container .tainacan-card .media .list-metadata p.metadata-description {
  max-height: 12.75em !important;
  line-height: 1.25em;
}

.theme-items-list #items-list-area #items-list-results .tainacan-table {
  padding: 0 12px;
}

.theme-items-list #items-list-area #items-list-results .tainacan-slide-main-view iframe {
  border: none;
  border-radius: 0;
}

.theme-items-list #items-list-area #items-list-results .tainacan-slides-list .swiper-slide img {
  border-radius: 0;
  padding-bottom: 0;
}

.theme-items-list #items-list-area #items-list-results .pagination-area {
  border-top: none;
  margin-left: 12px;
  margin-right: 12px;
  --tainacan-background-color: #000;
  --tainacan-input-color: white;
  --tainacan-input-background-color: #111;
  --tainacan-input-border-color: #222;
  --tainacan-label-color: #eee;
  --tainacan-info-color: #ddd;
  --tainacan-heading-color: white;
  --tainacan-black: white;
  --tainacan-white: black;
}

.theme-items-list #items-list-area #items-list-results .pagination-area .pagination {
  padding: 3px;
  line-height: 35px;
  top: 1px;
}

.theme-items-list #items-list-area #items-list-results .pagination-area .pagination span,
.theme-items-list #items-list-area #items-list-results .pagination-area .pagination a {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  float: none;
}

.theme-items-list #items-list-area #items-list-results .pagination-area .pagination .pagination-link {
  background: white;
  color: black !important;
}

.theme-items-list #items-list-area #items-list-results .pagination-area .pagination .pagination-link.is-current {
  font-weight: bold;
}

.theme-items-list #items-list-area #items-list-results .pagination-area .select select {
  background: none !important;
  color: white;
}

.theme-items-list .advanced-search-criteria-title hr {
  display: none;
}

.theme-items-list .control.has-icons-right .input,
.theme-items-list .control.has-icons-right .select select {
  padding-right: 2.5em !important;
}

.theme-items-list .control.has-icons-left .input,
.theme-items-list .control.has-icons-left .select select {
  padding-left: 2.5em !important;
}

.theme-items-list input.input,
.theme-items-list .input,
.theme-items-list textarea.textarea,
.theme-items-list .textarea,
.theme-items-list input[type="color"].input,
.theme-items-list input[type="date"].input,
.theme-items-list input[type="datetime-local"].input,
.theme-items-list input[type="datetime"].input,
.theme-items-list input[type="email"].input,
.theme-items-list input[type="number"].input,
.theme-items-list input[type="month"].input,
.theme-items-list input[type="password"].input,
.theme-items-list input[type="search"].input,
.theme-items-list input[type="tel"].input,
.theme-items-list input[type="text"].input,
.theme-items-list input[type="time"].input,
.theme-items-list input[type="url"].input,
.theme-items-list input[type="week"].input {
  border-radius: 0 !important;
  border: 1px solid var(--tainacan-input-border-color);
}

/* Extra classes applied from customizer */
.page.has-filters-panel-style-boxed #filters-modal .modal-content #filters-items-list {
  border-radius: 0;
  background-color: var(--tainacan-item-background-color, white);
  box-shadow: var(--boxShadow, 6px 6px black);
}

/* Tooltips and Modals are outside of the items list div */
body:not(.tainacan-admin-page) .tooltip,
body:not(.tainacan-admin-page) .tainacan-modal-content {
  --tainacan-secondary: #b6181e;
  --tainacan-primary: #b89a9b;
  --boxShadow: 6px 6px black;
  --tainacan-item-background-color: white;
  --tainacan-item-hover-background-color: white;
  --tainacan-item-heading-hover-background-color: white;
  --tainacan-success: #333;
}

body:not(.tainacan-admin-page) .tainacan-modal-content {
  border-radius: 0;
}

body:not(.tainacan-admin-page) .tainacan-modal-content .tainacan-modal-title hr {
  display: none;
}

body:not(.tainacan-admin-page) .tainacan-modal-content .tabs li {
  margin-bottom: 0px;
}

body:not(.tainacan-admin-page) .tainacan-modal-content .modal-card-body {
  background-color: var(--tainacan-item-background-color, white);
}

body:not(.tainacan-admin-page) .tainacan-modal-content .button {
  border-radius: 0px !important;
}

/* Collection Items List */
.tainacan-collection-header {
  display: flex;
  padding: 36px 18px 28px 18px;
  justify-content: center;
  align-items: center;
  background-color: var(--tainacan-background-color, #f8f9fb);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --headingColor: var(--tainacan-heading-color, rgba(44, 62, 80, 1));
  --color: var(--tainacan-label-color, #454647);
  --linkInitialColor: #b6181e;
}

.tainacan-collection-header .tainacan-collection-header__box {
  width: 100%;
  padding: 20px;
}

.tainacan-collection-header .tainacan-collection-header__box .page-title {
  margin-top: 0px;
  margin-bottom: 4px;
  display: inline-block;
}

.tainacan-collection-header .tainacan-collection-header__box .ct-title-label {
  font-weight: normal;
}

.tainacan-collection-header .tainacan-collection-header__box .ct-title-label::after {
  content: ': ';
}

.tainacan-collection-header .tainacan-collection-header__box .collection-thumbnail {
  max-width: calc(var(--tainacan-filter-menu-width-theme, 20%) - 24px);
  float: left;
  margin-right: 24px;
}

.tainacan-collection-header .tainacan-collection-header__box .collection-thumbnail img {
  border-radius: 0;
}

.page.has-page-header-style-boxed .theme-items-list:not(.is-fullscreen) {
  grid-template-columns: 1fr minmax(auto, 1300px) 1fr;
}

.page.has-page-header-style-boxed .tainacan-collection-header .tainacan-collection-header__box {
  width: var(--maxSiteWidth, 1290px);
  border-radius: 0;
  background-color: var(--tainacan-item-background-color, #fff);
  box-shadow: var(--boxShadow, 0 12px 18px -6px rgba(34, 56, 101, 0.04));
}

.page.has-page-header-style-boxed .search-control {
  background-color: var(--tainacan-item-background-color, white);
  box-shadow: var(--boxShadow, 6px 6px black);
}

/* Single Item Page */
.tainacan-item-title {
  text-align: left !important;
  font-size: 2.35rem !important;
  letter-spacing: 2px;
  margin-left: 0 !important;
  font-weight: normal;
}

.tainacan-item-single {
  flex-wrap: wrap;
  display: flex;
  display: -ms-grid;
  display: grid;
  align-items: start;
  grid-column-gap: 48px;
  column-gap: 48px;
}

.tainacan-item-single .tainacan-item-section {
  max-width: var(--block-max-width);
  align-self: flex-start;
  align-self: start;
  margin-bottom: 2.25rem;
}

.tainacan-item-single .tainacan-item-section--document,
.tainacan-item-single .tainacan-item-section--gallery {
  grid-area: document;
}

.tainacan-item-single .tainacan-item-section--attachments {
  grid-area: attachments;
}

.tainacan-item-single .tainacan-item-section--metadata {
  grid-area: metadata;
}

.tainacan-item-single.tainacan-item-single--layout-type-dam {
  grid-template-areas: 'document' 'attachments' 'metadata';
  grid-template-columns: 100%;
}

.tainacan-item-single.tainacan-item-single--layout-type-dma {
  grid-template-areas: 'document' 'metadata' 'attachments';
  grid-template-columns: 100%;
}

.tainacan-item-single.tainacan-item-single--layout-type-mda {
  grid-template-areas: 'metadata' 'document' 'attachments';
  grid-template-columns: 100%;
}

.tainacan-item-single.tainacan-item-single--layout-type-mg {
  grid-template-areas: 'metadata document'  'metadata attachments' 'metadata .';
  grid-template-columns: 60% 40%;
}

@media only screen and (max-width: 960px) {
  .tainacan-item-single.tainacan-item-single--layout-type-mg {
    grid-template-areas: 'metadata' 'document' 'attachments';
    grid-template-columns: 100% !important;
  }
}

.tainacan-item-single.tainacan-item-single--layout-type-gm {
  grid-template-areas: 'document metadata'  'attachments metadata' '. metadata';
  grid-template-columns: 60% 40%;
}

@media only screen and (max-width: 960px) {
  .tainacan-item-single.tainacan-item-single--layout-type-gm {
    grid-template-areas: 'document' 'attachments' 'metadata';
    grid-template-columns: 100% !important;
  }
}

.tainacan-item-single .tainacan-single-item-section {
  text-align: var(--section-alignment, left);
  font-size: 1.75rem;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.tainacan-item-single .tainacan-media-component {
  --swiper-theme-color: #b6181e;
  --swiper-navigation-color: #b6181e;
  --swiper-navigation-size: 2.5rem;
  --tainacan-media-background: var(--background-color, #ffffff);
  --tainacan-media-main-carousel-height: 60vh;
  --tainacan-media-main-carousel-width: 100%;
  --tainacan-media-thumbs-carousel-width: 100%;
  --tainacan-media-thumbs-carousel-item-size: var(--attachments-size,140px);
}

.tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-main ul.swiper-wrapper[data-pswp-uid] li.swiper-slide {
  margin-left: 0;
  margin-right: 0;
}

.tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-main ul.swiper-wrapper[data-pswp-uid] li.swiper-slide img {
  box-shadow: 2px 2px black;
  transition: box-shadow ease 0.2s;
}

.tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-main ul.swiper-wrapper[data-pswp-uid] li.swiper-slide img:hover {
  box-shadow: 4px 4px black;
}

.tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-main ul.swiper-wrapper[data-pswp-uid] li.swiper-slide:hover .tainacan-item-file-download {
  opacity: 1.0;
  transform: scale(1);
}

.tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-thumbs {
  font-weight: normal;
  transition: font-weight 0.3s ease;
}

.tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-thumbs img {
  margin-bottom: 4px;
  transition: border 0.3s ease;
  border-radius: var(--borderRadius, 0px) !important;
  border-color: black;
  border-bottom: 4px solid black;
  box-shadow: 4px 2px black;
}

.tainacan-item-single .tainacan-media-component .tainacan-media-component__swiper-thumbs .swiper-slide-metadata {
  display: block;
  margin-top: 0.5rem;
}

.tainacan-item-single .tainacan-item-section__metadata {
  height: 100%;
  -moz-column-width: var(--metadata-column-width, 320px);
  -webkit-column-width: var(--metadata-column-width, 320px);
  column-width: var(--metadata-column-width, 320px);
}

.tainacan-item-single .tainacan-item-section__metadata div {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
  width: 100%;
}

.tainacan-item-single .tainacan-item-section__metadata div:last-child {
  -webkit-column-break-inside: auto;
  page-break-inside: auto;
  break-inside: auto;
  display: inline-block;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .tainacan-item-single .tainacan-item-section__metadata {
    -moz-column-gap: 0;
    -moz-column-rule: none;
    -webkit-column-gap: 0;
    -webkit-column-rule: none;
    column-gap: 4rem;
    column-rule: none;
  }
}

@media only screen and (min-width: 1366px) {
  .tainacan-item-single .tainacan-item-section__metadata {
    -moz-column-gap: 7rem;
    -moz-column-rule: none;
    -webkit-column-gap: 7rem;
    -webkit-column-rule: none;
    column-gap: 7rem;
    column-rule: none;
  }
}

.tainacan-item-single .tainacan-item-section__metadata h3 {
  padding-right: 1rem;
  margin-bottom: 0.25rem;
  width: 100%;
}

.tainacan-item-single .tainacan-item-section__metadata h3:first-of-type:last-of-type {
  display: inline-block;
}

.tainacan-item-single .tainacan-item-section__metadata h4,
.tainacan-item-single .tainacan-item-section__metadata label {
  padding-right: 0.875rem;
  width: 100%;
}

.tainacan-item-single .tainacan-item-section__metadata h4:first-of-type:last-of-type,
.tainacan-item-single .tainacan-item-section__metadata label:first-of-type:last-of-type {
  display: inline-block;
}

.tainacan-item-single .tainacan-item-section__metadata p {
  word-wrap: break-word;
}

.tainacan-item-single .tainacan-item-section__metadata .tainacan-metadata-label {
  text-align: var(--metadata-label-alignment, left);
  font-family: 'montserrat','HelveticaNeue','Helvetica Neue','Helvetica-Neue',Helvetica,Arial,sans-serif !important;
  font-size: 1.0rem;
  margin-top: 0.5rem;
}

.tainacan-item-single .tainacan-item-section__metadata .tainacan-metadata-value {
  text-align: var(--metadata-value-alignment, left);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  margin-top: 0;
  margin-bottom: 0.25rem;
  padding-bottom: 0.75rem;
  border-bottom: var(--metadata-value-border, 0px solid rgba(125, 125, 125, 0.5));
}

.tainacan-item-single .tainacan-item-section__metadata .tainacan-item-section__metadata-thumbnail img {
  border-radius: var(--borderRadius, 0px) !important;
  border-color: black;
  border-bottom: 4px solid black;
  box-shadow: 4px 2px black;
}

.tainacan-item-single .tainacan-item-section__metadata .multivalue-separator {
  color: #cbcbcb;
  margin: 0 8px;
}

.tainacan-item-single .tainacan-item-section__metadata .hierarchy-separator {
  color: #cbcbcb;
}

.tainacan-item-single .tainacan-item-section__metadata .metadata-type-compound .multivalue-separator,
.tainacan-item-single .tainacan-item-section__metadata .metadata-type-textarea .multivalue-separator {
  display: block;
  max-height: 1px;
  width: 35px;
  background: #cbcbcb;
  content: none;
  color: transparent;
  margin: 0.875rem auto;
}

.tainacan-item-single .tainacan-item-section__metadata .tainacan-compound-group {
  padding-left: 1.5rem;
  border-left: 1px solid #e0e5eb;
}

.tainacan-item-single .tainacan-item-section__metadata.metadata-type-2 > div {
  display: flex;
  flex-wrap: nowrap;
}

.tainacan-item-single .tainacan-item-section__metadata.metadata-type-2 > div .tainacan-metadata-label {
  flex-basis: 40%;
  margin-bottom: 0;
  border-right: var(--metadata-label-border, 0px solid rgba(125, 125, 125, 0.5));
}

.tainacan-item-single .tainacan-item-section__metadata.metadata-type-2 > div .tainacan-metadata-value {
  flex-basis: 60%;
  padding-left: 1rem;
}

@media only screen and (max-width: 767px) {
  .tainacan-item-single .tainacan-item-section__metadata.metadata-type-2 > div {
    flex-wrap: wrap;
  }
  .tainacan-item-single .tainacan-item-section__metadata.metadata-type-2 > div .tainacan-metadata-label {
    flex-basis: 100%;
    margin-bottom: 0.25rem;
  }
  .tainacan-item-single .tainacan-item-section__metadata.metadata-type-2 > div .tainacan-metadata-value {
    flex-basis: 100%;
    padding-left: 0;
  }
}

.tainacan-item-single .tainacan-item-file-download {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  border-radius: 24px;
  width: 36px;
  height: 36px;
  bottom: -18px;
  right: calc(50% - 18px);
  cursor: pointer;
  font-size: 0;
  background-color: #b6181e;
  color: white;
  transition: opacity 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}

.tainacan-item-single .tainacan-item-file-download a {
  height: 38px;
  width: 38px;
  display: block;
  position: relative;
  z-index: 99;
  background-color: transparent !important;
}

.tainacan-item-single .tainacan-item-file-download::after {
  position: relative;
  top: -38px;
  display: inline-block;
  font: normal normal normal 20px/1 "TainacanIcons";
  font-size: 1.25rem !important;
  line-height: 2.25rem;
  text-rendering: auto;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25em;
  text-transform: none !important;
  letter-spacing: normal !important;
  content: 'download';
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */